.i-bg-primary{
    background-color: $primary;
}

.i-text-primary{
    color: $primary;
}

.i-text-primary-alt{
    color: white;
}

.i-pointer{
    cursor: pointer;
}
.i-relative{
    position: relative;
}
.i-my-auto{
    margin-top: auto !important;
    margin-bottom: auto !important;
}