$primary: green; // set primary color here
$text-primary: white;

$header: white;
$text-header: black;

$sidebar: green;
$text-sidebar: white;
$sidebar-hover: orange;
$text-sidebar-hover: black;
$sidebar-submenu: orange;
$text-sidebar-submenu: white;

$tab-nav: green;
$text-tab-nav: white;
$text-tab-nav-active: orange;
$text-tab-nav-hover: orange;