// .subnav{
//     background-color: $tab-nav;
//     .nav-link{
//         color: $text-tab-nav;
//         &:hover{
//             color: $text-tab-nav-hover;
//         }
//     }
//     .nav-link.active{
//         color: $text-tab-nav-active;
//         box-shadow: none;
//     }
//     .nav-link:hover{
//         box-shadow: none;
//     }
//     .nav-item{
//         margin-right: 2px;
//     }
    
// }
//   .nav-pills .nav-link{
//       position: relative;
//     font-weight: bold;
//     padding: 0 10px;
//     text-align: center;
//     // background: #343436;
//     // color: #fff;
//     // background-color: ;
//     height: 34px !important;
//     background: #fff;
//     color: #000;
//     width: 100px;
//     height: 90%;
//     &:before{
//         content: '';
//         position: absolute;
//         left: 0;
//         width: 0;
//         height: 0;
//         border-top: 10px solid $tab-nav;
//         border-right: 12px solid transparent;
//     }
//   }
//   .nav-pills .nav-link.active{
//     background: #fff;
//     color: #000;
//   }

// .tab-item{
//     display: flex;
//     position: relative;
//     .tab-item-icon{
//         position: absolute;
//         right: 3px;
//         top: 5px;
//         cursor: pointer;
//     }
// }

.btn:focus{
    outline: none;
}
.floating-menu.active{
    display: block;
    width: 120px;
}
.btn-float{
    transform: rotate(90deg);
    transition: transform 3s ease-in-out;
}
.floating-menu{
    display: none;
    width: 0;
    background-color: $primary;
    color: $text-primary;
    position: fixed;
    right: 95px;
    bottom: 20px;
    &::after{
        content: "";
        position: absolute;
        bottom: 3px;
        right: -14px;
        width: 0; 
        height: 0;
        border-top: 7px solid transparent;
        border-left: 14px solid $primary;
        border-bottom: 7px solid transparent;
    }
    .nav-link{
        color:$text-primary;
    }
    ul{
        list-style: none;
        padding: 5px 25px 5px 15px;
    }
}

.tab-item{
        position: relative;
        .tab-item-icon{
            position: absolute;
            right: -15px;
            cursor: pointer;
        }
    }