<header class="header">
    <span (click)="toggleSidebar()" class="i-pointer i-my-auto">
        <clr-icon shape="bars"></clr-icon>
    </span>
    <div class="branding">
        <!-- <a href="javascript:void(0)">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">Project Clarity</span>
        </a> -->
        <h2>LOGO HERE</h2>
    </div>
    <div class="header-nav">
        <p>Menu Here</p>
        <!-- <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cloud"></clr-icon>
        </a>
        <a href="javascript://" class="active nav-link nav-icon">
            <clr-icon shape="folder"></clr-icon>
        </a> -->
    </div>
</header>